.user-component{
    justify-content: space-between;
}
.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}
.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}
.user-component__title{
    font-weight: 600;
    font-size: 22px;
    color: black;
}
.user-component__subtitle{
    margin-top: 8px;
    font-size: 17px;
    color: rgba(0,0,0,0.5);
    display: flex;
}
.user-component__avatar__xl{
    width: 80px;
    height: 80px;
    border-radius: 27px;
    margin-right: 20px;
}
.user-component__avatar__sm{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}
.user-component__title--not-bold{
    font-weight: 400;
}


.user-component__column:last-child{
    color: rgba(0,0,0,0.5);
}

.user-component__right{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50px;
    color: rgba(0,0,0,0.5);
    align-items: center;
}
.user-component__right i{
    color: black;
}

.user__right__coment{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    left: 18px;
    bottom: 18px
}

